<div class="card mt-5 text-center" style="width: 18rem;">
  <img src="{{todo.link}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">{{todo.title}}</p>
    <a href="#" class="btn btn-primary">Check out</a>
  </div>
</div>
<!-- 
<div class="card">
  <div class="card-body">
    {{todo.sno}} {{todo.title}}
  </div>
</div> -->
<!-- <div class="my-3 mx-4">
	<h2>{{todo.sno}} {{todo.title}}</h2> 
<p>description-{{todo.dsc}}</p>
<button class="btn btn-danger" (click)="onClick(todo)">DELETE</button>

</div> -->
