<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<div class="input"><input [(ngModel)]="prompt" type="text" placeholder="Enter your prompt" name="">
	<button (click)="getImage()">Submit</button></div>
<!-- <p>{{name}}</p> -->
	<div class="imgContainer" *ngFor="let obj of objects">
		<img [src]="obj.url">
		<!-- <p>{{obj.url}}</p> -->
		<!-- <img src="assets/otter.png" alt="example"> -->
	</div>
	

</body>
</html>
<!-- *ngFor="let obj of objects" -->
